* {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #cccccc;
  position: relative;
}

.bloco_azul {
  width: 600px;
  height: 600px;
  background-color: blue;
  position: absolute;
  left: calc(50% - 300px);
  top: calc(50% - 300px);
}

.bloco_vermelho {
  width: 400px;
  height: 400px;
  background-color: red;
  position: absolute;
  left: calc(50% - 200px);
  top: calc(50% - 200px);
}

.bloco_preto {
  width: 250px;
  height: 250px;
  background-color: black;
  position: absolute;
  left: calc(50% - 125px);
  top: calc(50% - 125px);
}

.bloco_verde {
  width: 150px;
  height: 150px;
  background-color: green;
  position: absolute;
  left: calc(50% - 75px);
  top: calc(50% - 75px);
}

.bloco_amarelo {
  width: 75px;
  height: 75px;
  background-color: yellow;
  position: absolute;
  left: calc(50% - 37.5px);
  top: calc(50% - 37.5px);
}
